In [ ]:
# EJEMPLO: EL PROBLEMA DEL GAS Y EL OLIO

In [1]:
%%html
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQHq0p2eTmxRWJjDmo1mUmdarYgIrEew4ieiVbIGQy-D_CyBw5rbbRUlRxwLKKaVQpRV9Hs8MGnz0X2/embed?start=false&loop=false&delayms=3000" frameborder="1" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

In [2]:
pip install pulp

Requirement already satisfied: pulp in c:\users\lenovo\anaconda3\lib\site-packages (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pulp as pp

In [4]:
model = pp.LpProblem(name='refinery-problem', # just the name
                     sense=pp.LpMaximize) # type of problem

In [5]:
# how much gas?
Gas = pp.LpVariable(name="Gas",  # just the name
                    lowBound=0,  # ensure non-negativity
                    cat='Continuous') # here: you accept decimal values

# how much oil?
Oil = pp.LpVariable(name="Oil",
                 lowBound=0,
                 cat='Continuous')

In [6]:
GasCoeff=1.9
OilCoeff=1.5
obj_func = GasCoeff*Gas + OilCoeff*Oil

In [7]:
# SUBJECT TO:
C1= pp.LpConstraint(name='Gas Constraint',   # just the name
                    e= 1*Gas - 2*Oil, rhs=0, # linear combination of constraint and rhs 
                    sense=pp.LpConstraintGE) # 'rule' >= 0 (LpConstraintGE)
C2= pp.LpConstraint(name='Oil Constraint',
                    e= 1*Oil, rhs=3000000,
                    sense=pp.LpConstraintGE) # 'rule' >= 3000000 (LpConstraintGE)
C3= pp.LpConstraint(name='Demand Constraint',
                    e= 1*Gas, rhs=6400000,
                    sense=pp.LpConstraintLE, )# 'rule' <= 6400000 (LpConstraintLE)

In [8]:
model += obj_func
model += C1
model += C2
model += C3

In [9]:
solverToUse = pp.COIN_CMD(msg=False)
model.solve();

In [10]:
import pandas as pd

Results={"Model Status":pp.LpStatus[model.status]}
Results.update({"Optimal Solution":pp.value(model.objective)})
Results.update({v.name: v.varValue for v in model.variables()})
Results

{'Model Status': 'Optimal',
 'Optimal Solution': 16960000.0,
 'Gas': 6400000.0,
 'Oil': 3200000.0}

In [11]:
#or
pd.DataFrame.from_dict(Results,orient='index').T.set_index('Model Status').style.format('{:,}')

In [12]:
# EJERCICIO 1: EL PROBLEMA DE LA DIETA

In [13]:
%%html
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTSq9X74urGAB_5n_MIJ9ZGIboKSvBdokVTBXVLh_qqZnmLRTJioOF431Rzys3Qi9UaFwWXjeq6Wmd5/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

In [14]:
model = pp.LpProblem(name='diet-problem', # just the name
                     sense=pp.LpMinimize) # type of problem

In [15]:
# how much of each element?

VegaV = pp.LpVariable(name="VegaVita",  # just the name
                    lowBound=0,  # ensure non-negativity
                    cat='Continuous') # here: you accept decimal values

HappyH = pp.LpVariable(name="HappyHealth",
                 lowBound=0,
                 cat='Continuous')

In [16]:
VegaCoeff=0.2
HappyCoeff=0.3
obj_func = VegaCoeff*VegaV + HappyCoeff*HappyH

In [17]:
# SUBJECT TO:
C1= pp.LpConstraint(name='Vitamin C Constraint',   # just the name
                    e= 20*VegaV + 30*HappyH, rhs=60, # linear combination of constraint and rhs 
                    sense=pp.LpConstraintGE) 
C2= pp.LpConstraint(name='Calcium Constraint',
                    e= 500*VegaV + 250*HappyH, rhs=1000,
                    sense=pp.LpConstraintGE) 
C3= pp.LpConstraint(name='Iron Constraint',
                    e= 9*VegaV + 2*HappyH, rhs=18,
                    sense=pp.LpConstraintGE, )
C4= pp.LpConstraint(name='Niacin Constraint',
                    e= 2*VegaV + 10*HappyH, rhs=20,
                    sense=pp.LpConstraintGE, )
C5= pp.LpConstraint(name='Magnesium Constraint',
                    e= 60*VegaV + 90*HappyH, rhs=360,
                    sense=pp.LpConstraintGE, )

In [18]:
model += obj_func
model += C1
model += C2
model += C3
model += C4
model += C5

In [19]:
solverToUse = pp.COIN_CMD(msg=False)
model.solve();

In [20]:
import pandas as pd

Results={"Model Status":pp.LpStatus[model.status]}
Results.update({"Optimal Solution":pp.value(model.objective)})
Results.update({v.name: v.varValue for v in model.variables()})
Results

{'Model Status': 'Optimal',
 'Optimal Solution': 1.2,
 'HappyHealth': 3.1304348,
 'VegaVita': 1.3043478}

In [21]:
#or
pd.DataFrame.from_dict(Results,orient='index').T.set_index('Model Status').style.format('{:,}')

In [22]:
# DECISIÓN MULTICRITERIO:

In [23]:
%%html
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR7GL_wF1eKRO0JgEUyIx5cxXUhTQ8ZM4F3AE1MLr7GYG33dwEobrLo6O2MaV2d7Cv47TaTgHghkhrV/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

In [25]:
# calling the function
from ahp.ahp import AHP

In [26]:
import pandas as pd

pairwise_age=pd.read_excel("ahp_tables.xlsx",sheet_name='age', index_col=0)
pairwise_experience=pd.read_excel("ahp_tables.xlsx",sheet_name='experience', index_col=0)
pairwise_education=pd.read_excel("ahp_tables.xlsx",sheet_name='education', index_col=0)
pairwise_charisma=pd.read_excel("ahp_tables.xlsx",sheet_name='charisma', index_col=0)
pairwise_criteria=pd.read_excel("ahp_tables.xlsx",sheet_name='criteria', index_col=0)

In [27]:
pairwise_criteria

            Experience  Education  Charisma  Age
Experience    1.000000   4.000000  3.000000    7
Education     0.250000   1.000000  0.333333    3
Charisma      0.333333   3.000000  1.000000    5
Age           0.142857   0.333333  0.200000    1

In [28]:
# follow the same order as the criteria
data = [pairwise_experience.values.tolist(),
        pairwise_education.values.tolist(),
        pairwise_charisma.values.tolist(),
        pairwise_age.values.tolist(),
        pairwise_criteria.values.tolist()]

In [29]:
ahp = AHP()
ahp.fit(data)

In [30]:
Solution=pd.DataFrame(index=pairwise_charisma.index)
Solution['Score']=ahp.classificate()
Solution['Ranking']=Solution.Score.rank(ascending=False)
Solution

          Score  Ranking
Tom    0.359067      2.0
Dick   0.488307      1.0
Harry  0.152626      3.0

In [31]:
# EJERCICIO 2: DECIDIENDO EL DESTINO DE MAESTRÍA

In [32]:
# calling the function
from ahp.ahp import AHP

In [33]:
import pandas as pd

pairwise_cost=pd.read_excel("ahp2_tables.xlsx",sheet_name='Cost of living', index_col=0)
pairwise_language=pd.read_excel("ahp2_tables.xlsx",sheet_name='Language difficulty', index_col=0)
pairwise_possibilities=pd.read_excel("ahp2_tables.xlsx",sheet_name='Possibilities to get a job', index_col=0)
pairwise_criteria=pd.read_excel("ahp2_tables.xlsx",sheet_name='Criteria', index_col=0)

In [34]:
pairwise_criteria

,Cost of living,Language difficulty,Possibilities to get a job
Cost of living,1.000000,3,3.000000
Language difficulty,0.333333,1,0.333333
Possibilities to get a job,0.333333,3,1.000000

In [35]:
# follow the same order as the criteria
data = [pairwise_cost.values.tolist(),
        pairwise_language.values.tolist(),
        pairwise_possibilities.values.tolist(),
        pairwise_criteria.values.tolist()]

In [36]:
ahp = AHP()
ahp.fit(data)

In [37]:
Solution=pd.DataFrame(index=pairwise_possibilities.index)
Solution['Score']=ahp.classificate()
Solution['Ranking']=Solution.Score.rank(ascending=False)
Solution

            Score  Ranking
Brazil   0.060735      5.0
Spain    0.134003      4.0
USA      0.217910      2.0
England  0.377809      1.0
France   0.209543      3.0